@import url('https://fonts.googleapis.com/css2?family=Arsenal:ital,wght@0,400;0,700;1,400;1,700&family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Patrick+Hand&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 
}

html{
   height: 100vh;
}
body{
  display:flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: "Arsenal", sans-serif;
  transform-style:preserve-3d;
  background: linear-gradient(45deg, #33ccff, #3399ff);
}


header {
  margin-top: 5vh;
  display: flex;
}

nav {
  display: inline-flex;
  flex-direction: row;
  gap: 10vh;
}

nav a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

img {
  height: 150%;
  width: 150%;
  overflow: hidden;
  object-fit: cover;
}

#preLoad {
  height:100%;
  width:100%;
  position: fixed;
  z-index:100;
  background: linear-gradient(45deg, #33ccff, #3399ff) 

}


#text-animate {
  display: inline-flex;
  position:relative;
  overflow: hidden;
  flex-direction: row;
  font-size: 40px;
}

#text-animate p {
  color:aliceblue;
}

span {
  position: absolute;
}
